.button-with-left-arrow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 9px;
    border: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: transparent;
    height: 31px;
    width: 120px;
    font-family: Formular, "Helvetica Neue", Helvetica, sans-serif;
    cursor: pointer;
    background: linear-gradient(to right, #000000 50%, transparent 50%);
    transition: 0.5s;
    background-size: 200%;
    background-position: right;
}

.button-with-left-arrow::after {
  content: '';
  background-image: url('../../images/arrow-left.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  height: 13px;
}

.button-with-left-arrow:hover {
  background-position: left;
  color:$forest_wolf;
}

.button-with-left-arrow:hover::after  {
  background-image: url('../../images/arrow-left-white.svg');
  transition: 0.7s;
}
