.info-block {
  background-color: $pebble_grey;
  padding: 79px 0 120px;

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 17px auto 0;
    max-width: 569px;
    gap: 17px;
  }

  &__text{
    box-sizing: content-box;
    max-width: 509px;
    padding-left: 60px;
    font-weight: $font_s;
    font-size: $text_m;
    line-height: $line_s;
  }
  
}

@media (max-width: $breakpoint_md) {
  .info-block {
    padding: 56px 24px 72px;
  }
}