.title-block {
  max-width: 568px;
  margin: 10px 24px 10px 362px;
  padding: 0;
  font-weight: $font_m;
  font-size: $text_xl;
  line-height: $line_m;
  letter-spacing: -0.01em;
}

@media (max-width: $breakpoint_lg) {
  .title-block {
    margin-left: 220px;
  }  
}

@media (max-width: $breakpoint_md) {
  .title-block {
    margin-left: 95px;
  }  
}

@media (max-width: $breakpoint_xs) {
  .title-block {
    margin: 10px 24px;
    max-width: 369px;
    font-size: $text_l;
  }
}