.gallery {
  padding: 30px 0 122px;

  &__wrap {
    padding: 42px 0 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 2px;
    list-style: none;
    line-height: 0;
    padding: 0;
    margin: 0;
  }

  &__list-item {
    margin: 0;
    padding: 0;
    transition: ease-in-out 0.3s;
  }

  &__list-item:hover {
    transform: scale(1.05);
  }

  &__image {
    display: block;
    width: 100%;
    object-fit: cover;
  }

}

@media (min-width: $breakpoint_md) {

  .gallery {

    &__wrap {
      padding: 22px 0 0;
    }

    &__list {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1px 1px;
    }

  }

}

@include small() {
  .gallery {
    padding: 30px 0 100px;
  }
}