* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  background-color: $forest_wolf;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: linear-gradient(to bottom, white, black);
}