/* COLORS */
$forest_wolf: #e5e5e5;
$black: #242424;
$pebble_grey: #B7C09D;

/* BREAK POINTS */

// Large:
$breakpoint_xl: 1280px;
$breakpoint_lg: 1024px;
$breakpoint_md: 800px;
$breakpoint_xs: 576px;
//$breakpoint_sm:


/* TEXT SIZE */
$text_xs: 0.875em; //14px
$text_s: 1em; //16px
$text_m: 1.25em; //20px
$text_l: 1.75em; //28px
$text_xl: 2.5em; //40px
$text_xxl: 4.375em; //70px

/* TEXT LINE HEIGHT */
$line_s: 1;
$line_m: 1.2;
$line_l: 1.4;
$line_h2_mobile: 1.142;

/* FONT WEIGHT */
$font_s: 300;
$font_m: 400;
