/* COLORS */
$forest_wolf: #ecebe8;
$black: #242424;
$pebble_grey: #B7C09D;

/* BREAK POINTS */
/*
$breakpoint_xll:
$breakpoint_xl:
$breakpoint_md:
$breakpoint_sm:
*/

/* TEXT SIZE */
$text_l: 28px;

/* TEXT LINE HEIGHT */
$line_l: 32px;
