/* COLORS */
$forest_wolf: #ecebe8;
$black: #242424;
$pebble_grey: #B7C09D;

/* BREAK POINTS */
/*
$breakpoint_xll:
$breakpoint_xl:
$breakpoint_md:
$breakpoint_sm:
*/

/* TEXT SIZE */
$text_m: 20px;
$text_l: 28px;
$text_xl: 40px;

/* TEXT LINE HEIGHT */
$line_m: 28px;
$line_l: 32px;
$line_xl: 40px;

/* FONT WEIGHT */
$font_s: 300;
$font_m: 400;
